
<!-- Lemon image-->
<div class="container text-center">
      <img class="img-fluid w-25 h-25" src="/images/home/lemons.jpg">
</div> 
<!-- Start Of footer -->
    <div class="bg-dark">
      <div id="footer" class="container text-light text-center pt-2">
        <p class="mb-0">All Rights Reserved 2019 <i class="fas fa-copyright"></i></p>
        <a href="https://www.instagram.com/zahra.amini1995/?hl=en" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="mailto:Amini.zahra74@yahoo.com"><i class="far fa-envelope fa-lg"></i></a>
      </div>
    </div>
<!-- End Of footer -->