<!-- Start Of Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler m-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
    <ul id="main-nav" class="navbar-nav mx-auto">
      <li class="nav-item mx-auto">
        <a class="nav-link" href="/">Portfolio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown mx-auto text-center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Books
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/books/third-book">Call Me Rusty 2018</a>
          <a class="dropdown-item" href="/books/second-book">Javad Loves Cooking 2018</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/books/first-book">Daisy Seed 2017</a>
        </div>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">About</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>
    
  </div>
</nav>
<hr>
    <!-- End Of Navbar Section -->