<% layout('/layouts/boilerplate') -%>


<!--Start About Me Section -->
    <div class="container my-5 pb-5">
      <div id="about-me" class="row align-items-center">
        <div class="col-lg-6 text-center">
          <img class="img-fluid w-50 h-75 rounded" src="/images/home/zahraphoto.jpg">
        </div>
        <div class="col-lg-6 text-center text-lg-left my-5 mt-lg-1">
          <p class="lead">Kindly send me an Email to : <span class="info"> amini.zahra74@yahoo.com</span></p>
          <p class="lead">I will write back to you within 24 hours.</p>
      
          <div id="social" class="my-3 mx-3">
            <a class="contact" href="https://www.instagram.com/zahra.amini1995/?hl=en" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="contact ml-1" href="mailto:Amini.zahra74@yahoo.com"><i class="far fa-envelope fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- End of Contact Section -->
 
     <% include ./layouts/footer %>