<% layout('/layouts/boilerplate') -%>


    <!--Start About Me Section -->
    <div class="container my-5">
      <div id="about-me" class="row align-items-center">
        <div class="col-lg-6 text-center">
          <img class="img-fluid w-50 h-75 rounded" src="/images/home/zahraphoto.jpg">
        </div>
        <div class="col-lg-6 text-center text-lg-left mt-5 mt-lg-1">
          <h1 id="artist" class="display-4"><span>Zahra</span> Amini</h1>
          <p>Hello, I am Zahra Amini , an illustrator from Iran.Currently I am working on some projects for different publications and magazines.</p>
          <p>For inquiries please send me an Email <i class="far fa-smile"></i></p>
          <button class="btn btn-info">Contact Me</button>
          <div id="social" class="my-3 mx-3">
            <a class="contact" href="https://www.instagram.com/zahra.amini1995/?hl=en" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
            <a class="contact ml-1" href="mailto:Amini.zahra74@yahoo.com"><i class="far fa-envelope fa-lg"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--End About Me Section -->
    <br>
<!-- Start of Work Section -->
   <div class="container-fluid my-3">

      <div class="my-lg-5 pt-3">
        <h1 class="text-center">My Recent Work</h1>
      </div>

      <div class="card-columns">
  <div class="card">
    <img src="/images/home/10.JPG" class="card-img-top" alt="...">
  </div>
  
  <div class="card">
    <img src="/images/home/1.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/12.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/13.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/14.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/15.jpg" class="card-img-top" alt="...">
  </div>
  
  <div class="card">
    <img src="/images/home/2.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/3.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/4.jpg" class="card-img-top" alt="...">
  </div>
  
  <div class="card">
    <img src="/images/home/5.jpg" class="card-img-top" alt="...">
  </div>
<div class="card">
    <img src="/images/home/8.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="/images/home/7.jpg" class="card-img-top" alt="...">
  </div>
<div class="card">
    <img src="/images/home/5.jpg" class="card-img-top" alt="...">
  </div>
<div class="card">
    <img src="/images/home/9.jpg" class="card-img-top" alt="...">
  </div>

  
</div>

   </div>
    <!-- End of Work Section -->
  
    
 <% include ./layouts/footer %>